.page-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

#app {
  background-color: var(--card-background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
  box-sizing: border-box;
  position: relative;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 0;
  padding: 0;
}

/* --- Results Container --- */
#results-container {
  margin-top: 2rem;
}

/* --- Footer --- */
footer {
  text-align: center; /* Center the inner container */
  margin-top: 0.5rem;
  padding-top: 1rem;
}

/* --- Responsive Adjustments --- */
@media (max-width: 768px) {
  #app {
    padding: 2rem 1rem; /* Adjust padding for mobile */
    border-radius: 0;
    box-shadow: none;
  }

  footer {
    /* Give footer some space on mobile, with extra at the bottom. */
    padding: 1rem 1rem 1.5rem;
  }
}
